<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questions</title>
    <link href="../output.css" rel="stylesheet" />
    <!-- <script defer src="../quesitons.js"></script> -->
  </head>
  <body class="bg-white text-primary pt-20">
    <!-- Navbar -->
    <nav
      id="navbar"
      class="bg-primary transition-all duration-300 fixed top-0 left-0 right-0 w-full z-50 px-1 py-2"
    >
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex-shrink-0 flex items-center">
            <span class="text-secondary font-bold text-xl">[AppName]</span>
          </div>
          <div class="flex items-center">
            <div class="flex space-x-4">
              <div class="flex gap-4">
                <a
                  href="../index.html"
                  id="login-btn"
                  class="auth-toggle-btn px-6 py-2 rounded-md font-semibold text-md border-2 border-secondary text-secondary hover:bg-secondary hover:text-primary transition"
                >
                  Back to Home
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <main class="max-w-5xl mx-auto px-4 mt-10 mb-20">
      <div class="max-w-5xl mx-auto px-10 py-5 rounded-lg">
        <h1 class="text-3xl font-bold mb-6 text-center text-gray-800 pb-10">
          Lorem, ipsum dolor.
        </h1>
        <form action="" method="post">
          <div class="flex flex-col justify-center gap-4 px-2 py-2">
            <span>1.</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              eum!
            </p>
            <div class="flex items-center gap-4">
              <label
                ><input type="radio" name="option" value="1" /> Option 1</label
              >
              <label
                ><input type="radio" name="option" value="2" /> Option 2</label
              >
              <label
                ><input type="radio" name="option" value="3" /> Option 3</label
              >
              <label
                ><input type="radio" name="option" value="4" /> Option 4</label
              >
              <button
                type="button"
                class="px-4 py-2 bg-black text-white rounded hover:bg-gray-900"
              >
                Extra
              </button>
            </div>
          </div>
          <div class="flex flex-col justify-center gap-4 px-2 py-2">
            <span>1.</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              eum!
            </p>
            <div class="flex items-center gap-4">
              <label
                ><input type="radio" name="option" value="1" /> Option 1</label
              >
              <label
                ><input type="radio" name="option" value="2" /> Option 2</label
              >
              <label
                ><input type="radio" name="option" value="3" /> Option 3</label
              >
              <label
                ><input type="radio" name="option" value="4" /> Option 4</label
              >
              <button
                type="button"
                class="px-4 py-2 bg-black text-white rounded hover:bg-gray-900"
              >
                Extra
              </button>
            </div>
          </div>
          <div class="flex flex-col justify-center gap-4 px-2 py-2">
            <span>1.</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              eum!
            </p>
            <div class="flex items-center gap-4">
              <label
                ><input type="radio" name="option" value="1" /> Option 1</label
              >
              <label
                ><input type="radio" name="option" value="2" /> Option 2</label
              >
              <label
                ><input type="radio" name="option" value="3" /> Option 3</label
              >
              <label
                ><input type="radio" name="option" value="4" /> Option 4</label
              >
              <button
                type="button"
                class="px-4 py-2 bg-black text-white rounded hover:bg-gray-900"
              >
                Extra
              </button>
            </div>
          </div>
          <div class="flex justify-center flex-col gap-4 px-2 py-2">
            <span>1.</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              eum!
            </p>
            <div class="flex items-center gap-4">
              <label
                ><input type="radio" name="option" value="1" /> Option 1</label
              >
              <label
                ><input type="radio" name="option" value="2" /> Option 2</label
              >
              <label
                ><input type="radio" name="option" value="3" /> Option 3</label
              >
              <label
                ><input type="radio" name="option" value="4" /> Option 4</label
              >
              <button
                type="button"
                class="px-4 py-2 bg-black text-white rounded hover:bg-gray-900"
              >
                Extra
              </button>
            </div>
          </div>

          <div class="flex justify-center mt-4">
            <button
              type="submit"
              class="mt-4 px-6 py-3 bg-black text-white font-semibold rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2 transition-colors duration-200 text-center"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
